h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: grey;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  font-family: "Montserrat";
}

.col-md-6 > h3 {
  color: black;
}

body {
  padding-top: 0px;
}

.verticalRow {
  display: flex;
  align-items: center;
  flex-direction: row;
}

input {
  padding: 10px;
  box-sizing: border-box;
}
.footer-text > a {
  color: #dddddd;
}
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
.btn2 {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: rgb(221, 220, 215);
  margin: 6px;
}
.btn2:hover {
  color: cornsilk;
}
.tableRowdata:hover {
  background-color: #fffafa;
}
.tableRowdata:nth-child(even) {
  background-color: #f2f2f2;
}
.tableRowdata:nth-child(odd) {
  background-color: #fffafa;
}
.menuitem {
  font-size: 15px;
}
